@model isabellaresume.Models.ViewModels.IndexViewModel

<h1>My Educations</h1>
<table class="table-striped table-responsive table">
    @foreach (var education in Model.Educations)
{
    <tr>
        <td>@education.SchoolName</td>
        <td>@education.FieldOfStudy</td>
    </tr>
}
</table>

<h1>My Workplaces</h1>
<table class="table-striped table-responsive table">
    @foreach (var workplace in Model.WorkPlaces)
    {
        <tr>
            <td>@workplace.CompanyName</td>
            <td>@workplace.Position</td>
        </tr>
    }
</table>
