@model isabellaresume.Models.ViewModels.IndexViewModel

<h1>My Educations</h1>
<table class="table-striped table-responsive table">
    @foreach (var education in Model.Educations)
{
    <tr>
        <td>@education.SchoolName</td>
        <td>@education.FieldOfStudy</td>
    </tr>
}
</table>
