// colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: #e9f0f5; // body background color

$dark-blue: #303e49; // blue dark
$red: #c03b44; // red
$white: #ffffff; // white
$green: #75ce66; // green
$yellow: #f0ca45; // yellow
$blue: #454ef7; // blue

// fonts 

$primary-font: 'Raleway', sans-serif; 
$secondary-font: 'Playfair Display', serif;